# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist
dist-ssr
.vite

# Dependencies
node_modules

# Env files (оставляем .env и .env.production в git)
.env.local
.env.*.local
.env.development

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lockfiles (оставь только тот, что реально используешь)
yarn.lock
pnpm-lock.yaml

/backend/tsconfig.build.tsbuildinfo
